/* About Europe Sightseeing Tours */
.promotion-about-container,
.img-pro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.promotion-about-container {
  gap: 24px;
  padding: 90px 0;
}

.img-pro {
  width: 40%;
}

.promotion-h5 {
  color: #df6951;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.promotion-h2 {
  color: #181e4b;
  font-family: "Volkhov", serif;
  font-size: 60px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px;
  white-space: nowrap;
}

.text-promotion {
  color: black;
  width: 570px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

.pro-btn {
  display: inline-block;
  background-color: #df6951;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  margin: 30px 0px;
}

@media screen and (max-width: 1200px) {
  .promotion-about-container {
    gap: 18px;
    padding: 90px 64px;
  }

  .text-promotion {
    width: 90%;
    font-size: 14px;
    line-height: 24px;
    /* 162.5% */
  }

  .promotion-h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .promotion-h2 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  .img-pro {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {

  .promotion-about-container,
  .promotion-about-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .promotion-about-container {
    gap: 16px;
    text-align: center;
  }

  .promotion-h2 {
    font-size: 32px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  .img-pro {
    width: 100%;
    margin-left: 32px;
  }
}

/* About All Sections */

.about-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/about/sea-view.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}

.wanderlust-head {
  max-width: 1300px;
  position: relative;
}

.wanderlust-h1 {
  text-align: center;
  font-family: "Yesteryear", cursive;
  color: #fff;
  font-size: 100px;
  font-weight: 400;
}

.play-circle {
  transform: translate(50%, 50%);
  position: absolute;
  right: 50%;
  top: 0;
  width: 80px;
}

.trend-container {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  padding: 90px 0;
}

.h5-trend {
  color: #df6951;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.h2-popular-plans {
  color: #181e4b;
  font-family: "Volkhov", serif;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.p-trend {
  color: black;
  width: 570px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/* Trend Container */

@media screen and (max-width: 1200) {}

@media screen and (max-width: 768) {
  .trend-container {
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 90px 0;
  }
}

.statistics {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 80px auto;
  color: #181e4b;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.statistics-heads {
  display: flex;
  justify-content: space-between;
}

/* Explore More */
.all-about-section-container {
  
 
}

.all-about-title {
  max-width: 100%;
  margin: 30px auto;
  text-align: center;
}

.about-first-title {
  color: #df6951;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.about-second-title {
  color: #181e4b;
  font-family: "Volkhov", serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 71.042px;
}

.all-about-images-container {
  display: grid;
  grid-template-columns: repeat(4, 363px);
  justify-content: center;
  gap: 25px;
}


.city-img-box {
  position: relative;
  height: fit-content;
}

.img-city-box {
  grid-row: auto / span 2;
  width: 100%;
}

.city-text-box {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  position: absolute;
  left: 15px;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  width: 315px;
}

/* Footer Section */

.about-footer-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: auto 250px;
  padding: 36px;
}

.about-footer-topside {
  display: flex;
  justify-content: center;
  gap: 60px;
  border-bottom: #e5e5ea 2px solid;
  padding: 22px 16px;
}

.travel-title-footer {
  color: #181E4B;
  font-family: "Volkhov", serif;
  font-size: 31.622px;
  font-weight: 700px;
}

.footer-txt {
  width: 250px;
  color: #757095;
  font-family: "Manrope", sans-serif;
}

.about-footer-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin: 50px auto;
}

.about-footer-title {
  color: #181E4B;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.about-footer-span {
  font-family: "Manrope", sans-serif;
  color: #181433;
  font-size: 14px;
  font-weight: 500;
  margin-top: 4px;
}

.footer-txt-2 {
  display: flex;
  flex-direction: column;
  color: #757095;
  font-family: "Manrope", sans-serif;
}

.about-socials-container {
  margin-top: 18px;
  display: flex;
  gap: 18px;
}

.about-footer-input-container {
  display: flex;
}

.about-footer-input {
  border: none;
  background: #eef;
  padding: 12px;
  font-size: 16px;
}

.footer-btn {
  border-radius: 10px;
  padding: 16px;
  border: none;
  background: #df6951;
  color: white;
  box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
}

.copy-right {
  color: #181433;
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
}

.footer-img-png {
  position: absolute;
  width: 40%;
  left: 85%;
}