
.honeymoon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.honeymoon-content {
  flex: 1;
  margin: 150px;
  height: 100%;
  width: 100%;
}

.honeymoon-img {
  width: 500px;
}

.view-packages-button {
  border-radius: 10px;
  background: #df6951;

  display: flex;
  width: 175px;
  height: 55px;

  justify-content: center;
  align-items: center;

  color: white;
  flex-shrink: 0;

  cursor: pointer;
}

.honeymoon-text {
  width: 575px;
  height: 100px;
  flex-shrink: 0;

  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400px;
  line-height: 26px;
  margin: 20px 0;
}

.honeymoon-h3 {
  margin: 0px 0px 0px 0px;

  width: 800px;
  height: 150px;
  flex-shrink: 0;

  color: #181e4b;
  font-family: "Volkhov", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700px;
  line-height: 70px;
}

.honeymoon-h4 {
  color: #df6951;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700px;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}